#cabecera{
	width: 100%;
	height: 60px;
	background-color:black;
}

.boton{
	width: 80px;
	height: 50px;
	background-color:red;
}

.boton:hover{
	background-color:white;
}

.cuadro{
	margin-top:10px;
	width:100px;
	height:100px;
	background-color:red;
}
